<section class="alert__container">
  <div class="alert alert-success">
    <% flash.each do |name, message| %>
      <span><%= message %></span>
    <% end %>
  </div>
</section>

<main>
  <section class="spotlight">
    <h2 class="spotlight__header">
      <span class="spotlight__header--prefix">Media Spotlight</span>
      <%= link_to Work.spotlight.title, root_path, class: "spotlight__link-to"%> by <%= Work.spotlight.creator %>
    </h2>
    <p class="spotlight__description">
      <%= Work.spotlight.votes.count %> votes - <%= Work.spotlight.description %>
    </p>
  </section>

  <hr class="root__hr" />
  <section class="top-ten__container">
    <%= render partial: "homepage", locals: { works_name: "Albums", variable: @albums } %>
    <%= render partial: "homepage", locals: { works_name: "Books", variable: @books } %>
    <%= render partial: "homepage", locals: { works_name: "Movies", variable: @movies } %>
  </section>

</main>