<section class="alert__container">
  <div class="alert alert-warning">
    <% flash.each do |name, message| %>
      <span><%= message %></span>
    <% end %>
    <% if @work.errors.any? %>
      <ul>
        <% @work.errors.each do |column, message| %>
          <li>
            <%= column %> <%= message %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
</section>

<main>
  <section>
    <%= form_with model: @work, class: 'create-work' do |f| %>
      <h2>Add a new work</h2>
      <div class="form-group">
        <%= f.label "Category:" %>
        <%= f.select :category,
            options_for_select(["album", "book", "movie"], @work.category),
            {include_blank: false},
            {class: "form-control"} 
        %>
      </div>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :creator %>
        <%= f.text_field :creator, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :publication_year %>
        <%= f.text_field :publication_year, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.submit "#{action_name} Work", class: "btn btn-primary" %>
      </div>
    
    <% end %>
  </section>
</main>