<main>
  <h2>List of Works</h2>
  <%= render partial: "works", locals: { works_name: "Albums", variable: @albums } %>
  <%= render partial: "works", locals: { works_name: "Books", variable: @books } %>
  <%= render partial: "works", locals: { works_name: "Movies", variable: @movies } %>
  <%= link_to "View top media", root_path, class: "btn btn-secondary" %>
  <%= link_to "Add a new work", root_path, class: "btn btn-primary" %>
  <%# <a class="btn btn-primary" href="/works/new">Add a new work</a> %>
</main>