<section class="alert__container">
  <div class="alert alert-success">
    <% flash.each do |name, message| %>
      <span><%= message %></span>
    <% end %>
  </div>
</section>

<main>
  <section>
    <h2><%= @work.title %> </h2>
    <p>Created by: <%= @work.creator %></p>
    <p>Published: <%= @work.publication_year %></p>
    <p><%= @work.description %></p>
    <section>
      <%= link_to "Back to media ranks", root_path, class: "btn btn-primary" %>
      <%= link_to "Edit", edit_work_path(@work.id), class: "btn btn-primary" %>
      <%= link_to "Upvote", work_path, class: "btn btn-primary" %>
      <%#<a class="btn btn-primary" rel="nofollow" data-method="post" href="/works/571/upvote">Upvote</a>%>
      <%= link_to "Delete", work_path(@work.id), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
    </section>
  </section>

  <section class="works-votes__container">
  <h3 class="works-votes__header"># Votes for this <%= @work.category %></h3>
  <table class="table">
    <thead>
      <tr>
        <th>User</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= link_to "User", work_path %></td>
        <%# <td><a href="/users/700">abc</a></td>  %>
        <td><%= "Date" %></td>
      </li>
    </ul>
  </section>  

</main>